@import "theme";
$bp-card: 630px;
.slideshow-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  & i {
    font-size: 1.8rem;
    cursor: pointer;
    color: $color-three;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $color-four;
      text-shadow: $shadow-two;
      transform: scale(1.15);
    }
  }
}
.tags {
  display: flex;
  flex-flow: wrap row;
  gap: 0.6rem;
  line-height: 1rem;
  justify-content: space-around;
  cursor: default;
  & .card-tag {
    text-align: center;
    max-width: max-content;
    background: $color-vignette;
    color: $color-one;
    text-shadow: $text-outline;
    padding: 0.2rem 0.6rem;
    border-radius: 50px;
    border: 1px solid $color-two;
    box-shadow: $shadow-one;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
  }
}

.favorite-container {
  position: relative;
  & .faves-btn {
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    font-size: 1.8rem;
    bottom: 5px;
    right: 0;
    padding: 2px;
    text-align: center;
    color: $color-opacity-two;
    text-shadow: $text-outline;
    transition: all 0.4s ease-in-out;
    & span {
      font-size: 0.75rem;
    }
    & i {
      font-size: inherit;
      &:hover {
        color: $color-favorite;
      }
    }
    &.favorite,
    &:hover,
    &:focus {
      color: $color-favorite;
      text-shadow: $text-outline;
      opacity: 1;
      cursor: pointer;
    }
  }
}
#drinks-section .card {
  box-shadow: $shadow-two;
}
#featured {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  height: 600px;
  &.table {
    height: 720px;
    @media (max-width: $bp-card) {
      height: 920px;
      .card {
        max-width: 800px;
      }
    }
  }
  & .card {
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  & .card.current {
    z-index: 10;
    transform: none;
    opacity: 1;
    box-shadow: $shadow-two;
  }
  & .card.next {
    transform: translate(280px, 20px) scale(0.5);
    opacity: 0.3;
  }
  & .card.previous {
    transform: translate(-280px, 20px) scale(0.5);
    opacity: 0.3;
  }
}

.drink-description {
  text-align: center;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $color-one;
  color: $color-two;
  box-shadow: $shadow-one;
  height: max-content;
  min-height: 200px;
  & .special-heading {
    padding: 0.4rem 0.8rem;
    background-color: $color-two;
    color: $color-one;
    box-shadow: $shadow-one;
    width: 100%;
  }
  .img-container {
    overflow: hidden;
    cursor: pointer;
  }
}
.card,
.card * {
  transition: all 0.4s ease-in-out;
}
.card-container .drink-card.card.hidden {
  display: none !important;
}

.card-container {
  display: flex;
  width: 100%;
  gap: 6px;
  min-height: 400px;
  & .card .card-content {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $bp-card) {
      flex-direction: column;
    }
    & .card-text p {
      line-height: 0.9rem;
    }
    & .img-container {
      overflow: hidden;
      width: 100%;
      flex: 1;
      & img {
        width: 100%;
      }
    }
    & .card-text {
      display: flex;
      flex-direction: column;
      padding: 0.6rem 0.8rem;
      text-align: center;
      background-color: $color-one;
      gap: 12px;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 1023px) {
    padding: 2px;
  }
  @media (min-width: 1024px) {
    padding: 24px;
  }
}
.card-container.grid {
  padding: 2rem 0.3rem;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 16px;
  & .card {
    width: 100%;
    max-width: 400px;
    border-radius: 24px;
    box-shadow: $shadow-two;
    border: $border-one;
    overflow: hidden;
    box-shadow: $shadow-three;
    & .card-text {
      justify-content: center;
      background-color: $color-one;
      visibility: hidden;
      position: absolute;
      margin: auto;
      width: 85%;
      opacity: 0;
      transform: translateY(100%);
      box-shadow: $shadow-one;
      border-radius: 8px;
      border: 2px inset $color-four;
    }
    &:hover .card-text,
    & .img-container:focus-within + .card-text {
      visibility: visible;
      opacity: 1;
      transform: none;
      overflow: visible;
      box-shadow: $shadow-one;
    }
    &:hover .img-container img {
      opacity: 0.8;
      transform: scale(1.1);
    }
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }
}
.card-container.table {
  display: flex;
  flex-flow: column;
  gap: 64px;
  & .card {
    border-radius: 2px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: $bp-card) {
      flex-direction: column;
    }
    & .img-container {
      flex: 1.3;
      max-width: 700px;
    }
    & .card-text {
      flex: 1;
      margin: auto;
      line-height: 1.2rem;
      gap: 18px;
    }
  }
}
@media (min-width: 1024px) {
  #featured {
    &.table .card.next {
      transform: translate(450px, 20px) scale(0.5);
    }
    &.table .card.previous {
      transform: translate(-450px, 20px) scale(0.5);
    }
  }
}
