@import "theme";
@media (min-width: 1024px) {
  .dropdown-list {
    min-width: 240px;
    width: fit-content;
    right: -150%;
    padding: 8px;
  }
}
@media (max-width: 1023px) {
  #menu-btn,
  #menu-btn-close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.6rem;
    transition: all 0.5s ease-in-out;
  }
  .active ~ #menu-btn-close {
    z-index: 101;
    opacity: 1;
    visibility: visible;
    transform: rotate(180deg);
  }
  .active ~ #menu-btn {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-180deg);
  }
  i + span {
    visibility: visible;
    opacity: 1;
  }
  #nav-bar {
    flex-direction: column;
    color: $color-one;
    & .nav-list {
      flex-direction: column;
      gap: 32px;
      width: 100%;
      visibility: none;
      opacity: 0;
      position: absolute;
      background-color: inherit;
      width: 100%;
      top: 100%;
      z-index: -1;
      transform: translateY(-100%);
      transition: all 0.6s;

      &.active {
        visibility: visible;
        opacity: 1;
        z-index: 100;
        transform: none;
      }
    }
    & .dropdown-list {
      background-color: $color-navbar-mobile;
      color: $color-opacity-text;
      top: 100%;
      right: 0;
      left: 0;
      width: 100%;
      border-radius: 0;
      border: none;
      transform: translateY(-100vh);
      &.active {
        transform: none;
      }
    }
    & li {
      width: 100%;
      text-align: center;
      border-top: $color-two;
      padding: 0.2rem;
    }
  }
  .search-bar {
    width: 80%;
    max-width: 300px;
  }
  .search-bar .search-bar-input {
    visibility: visible;
    opacity: 1;
    width: 100%;
    flex: 1;
  }
  .relative-anchor.flex-center {
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  .container {
    padding: 6px;
  }
  .modal-bg .drink-modal {
    padding: 48px 6px;
  }
  h1 {
    font-size: 2rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
}
